<div class="expandable"></div>
<div class="accordion-body">
	<table>
		<colgroup>
			<col style="width: 10px;">
			<col style="width: 100px;">
			<col style="width: 300px;">
		</colgroup>
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Selector</th>
			</tr>
		</thead>
		<tbody>
			{{#each selectors as |selector|}}
				<tr class="selector {{if selector.isSelected "selected"}} {{unless selector.elementsCount "invalid"}}" 
						onclick={{action "onSelect" selector}} 
						{{action "onMouseEnter" selector on="mouseEnter"}} 
						{{action "onMouseLeave" on="mouseLeave"}}>
					<td class="state-wrap"><i class="state {{selector-status selector.elementsCount}}"></i></td>
					<td {{action "onEditName" selector on="doubleClick"}} title="Double Click to Edit Name">
						<span class="name {{if selector.nameIsEdited "editing"}}" 
								contenteditable="{{selector.nameIsEdited}}" 
								{{action "onNameKeydown" selector on="keyDown" preventDefault=false}}
								{{action "onNameBlur" selector on="focusOut" preventDefault=false}}>
							{{selector.name}}</span>
					</td>
					<td>
						<span class="value" {{action "onEdit" selector}} title="Click to Edit Selector">{{selector.value}}</span>
						<span class="actions">
							<!--<span class="action-button" {{action "onEdit" selector}}>Edit</span>-->
							<span class="action-button" {{action "onRemove" selector}}>Remove</span>
						</span>
					</td>
				</tr>
			{{/each}}
			<tr style="height: auto">
				<td class="bottom-filler-td"></td>
				<td class="bottom-filler-td"></td>
				<td class="bottom-filler-td"></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="accordion-header {{if componentsAreHighlighted "highlighted"}}" {{action "expandSelectorsList"}}>
	<span class="expand-icon"></span>
	<span class="panel-label">Selectors List</span>
		<a {{action "onClear" bubbles=false}} style="float: right;margin-left: 10px;cursor: pointer;">Clear</a>
		<a {{action "onCopy" bubbles=false}}style="float: right;margin-left: 10px;cursor: pointer;">Copy</a>
	    
	    <span style="float:right; margin-left:10px; cursor:pointer;" {{action "onHighlightComponents" bubbles=false}}>
	    	{{!-- {{input type="checkbox" checked=componentsAreHighlighted}} --}}
	    	<input type="checkbox" checked={{componentsAreHighlighted}} style="vertical-align:bottom; margin-bottom:4px; cursor:pointer;">
	    	Highlight
	    </span>
	    
	    <span style="margin-left:10px; font-weight:bold; float:right;">{{selectorsCountStatus}}</span>
</div>