<div class="expandable"></div>
<div class="accordion-body">
	{{#if selectors.length}}
		<table>
			<colgroup>
				<col style="width: 10px;">
				<col style="width: 100px;">
				<col style="width: 300px;">
			</colgroup>
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Selector</th>
				</tr>
			</thead>
			<tbody>
				{{#each selectors as |selector|}}
					<tr class="selector {{if selector.isSelected "selected"}} {{unless selector.elementsCount "invalid"}}" 
							onclick={{action "onSelect" selector}} 
							{{action "onMouseEnter" selector on="mouseEnter"}}
							{{action "onMouseLeave" on="mouseLeave"}}>
						<td class="state-wrap">
							<i class="state {{selector-status selector.elementsCount}}" title="{{selector.stateText}}"></i>
						</td>
						<td {{action "onRename" selector on="doubleClick"}} title="Double Click to Edit Name">
							<span class="name {{if selector.nameIsEdited "editing"}}" 
									contenteditable="{{selector.nameIsEdited}}" 
									{{action "onNameKeydown" selector on="keyDown" bubbles=false preventDefault=false allowedKeys="shift"}}
									{{action "onNameBlur" selector on="focusOut" preventDefault=false}}>
								{{selector.name}}</span>
						</td>
						<td>
							<span class="value {{if selector.wasUpdated "update-highlight"}}" {{action "onEdit" selector}} title="Click to Edit Selector">{{selector.value}}</span>
							<span class="actions">
								<!--<span class="action-button" {{action "onEdit" selector}}>Edit</span>-->
								<span class="action-button" {{action "onRemove" selector}} title="Remove selector">Remove</span>
							</span>
						</td>
					</tr>
				{{/each}}
				<tr style="height: auto">
					<td class="bottom-filler-td"></td>
					<td class="bottom-filler-td"></td>
					<td class="bottom-filler-td"></td>
				</tr>
			</tbody>
		</table>
	{{else}}
		<div class="flex-center empty-list-wrap">
			<div>
				Selectors List is empty. Generate selector and click <i class="addtolist-icon"/> button.
			</div>
		</div>
	{{/if}}
</div>
<div class="accordion-header {{if componentsAreHighlighted "highlighted"}}" {{action "expandSelectorsList"}}>
	<span class="expand-icon"></span>
	<span class="panel-label">Selectors List</span>
		<a {{action "onClear" bubbles=false}} title="Clear Selectors List" style="float: right;margin-left: 10px;cursor: pointer;">Clear</a>
		<a {{action "onCopy" bubbles=false}} title="Copy Selectors" style="float: right;margin-left: 10px;cursor: pointer;">Copy</a>
	    
	    <label style="float:right; margin-left:10px; margin-bottom:0; font-weight: normal; cursor:pointer; display: flex; align-items: center;" {{action "onHighlightComponents" bubbles=false preventDefault=false}}>
	    	{{!-- {{input type="checkbox" checked=componentsAreHighlighted}} --}}
	    	<input type="checkbox" id="highlightComponents" style="margin:0 2px 0 0; cursor:pointer;">
	    	Highlight
	    </label>
	    
	    <span style="margin-left:10px; font-weight:bold; float:right;">{{selectorsCountStatus}}</span>
</div>