{{#unless isChild}}
	<div class="element-index">
		{{~partElement.index~}}.
	</div>
{{/unless}}

{{!-- {{#if partElement.hasChildren}} --}}
	
{{!-- {{/if}} --}}
<div class="selection fill"></div>

<div class="wrapper"
	{{action "onElementMouseEnter" partElement on="mouseEnter"}}
	{{action "onMouseLeave" on="mouseLeave"}}>

	<div class="expand-icon" {{action "expand"}}></div>

	<span class="tag">&lt;{{element-attribute class="tag-name" attribute=partElement.tagName unlocked=partElement.isUnlocked onToggle=(action "onAttributeToggle") }}
		{{~#if partElement.id~}}
			<span class="attribute"><span class="name"> id</span>="
				{{~element-attribute attribute=partElement.id unlocked=partElement.isUnlocked onToggle=(action "onAttributeToggle") ~}}
			"</span>
		{{~/if~}}
		{{~#if partElement.classNames.length~}}
			<span class="attribute class-names"><span class="name"> class</span>="
				{{~#each partElement.classNames as |className|~}}
					{{~element-attribute attribute=className unlocked=partElement.isUnlocked onToggle=(action "onAttributeToggle") ~}}
				{{~/each~}}
			"</span>
		{{~/if~}}
		{{~#each partElement.attributes as |attr|~}}
			<span class="attribute"><span class="name"> {{attr.name}}</span>="
				{{~element-attribute attribute=attr unlocked=partElement.isUnlocked onToggle=(action "onAttributeToggle") ~}}
			"</span>
		{{~/each~}}
		&gt;
	</span>
	{{#if partElement.innerText}}
		<span class="text">
			{{~element-attribute attribute=partElement.innerText unlocked=partElement.isUnlocked onToggle=(action "onAttributeToggle") ~}}
		</span>
	{{/if}}
</div>