<span class="value {{if part.isSelected "selected" }}" onclick={{action "onInspectSelector"}} {{action "onSelectorMouseEnter" on="mouseEnter"}} {{action "onMouseLeave" on="mouseLeave"}}>{{part.selector}}</span>
{{!-- 
{{#if isExist}}
	{{#bs-dropdown tagName="span" classNames="count" as |dd|}}
	{{#dd.toggle}}{{part.count}}<span class="caret"></span>{{/dd.toggle}}
	  {{#dd.menu classNames="selector-part-elements" as |menu|}}
	  	{{#each part.elements as |element|}}
			{{#menu.item}}
				<a {{action "onInspectElement" element allowedKeys="ctrl"}}
					{{action "onElementMouseEnter" element on="mouseEnter"}}
					{{action "onMouseLeave" on="mouseLeave"}}>{{element.htmlFormated}}</a>
			{{/menu.item}}
		{{/each}}
	  {{/dd.menu}}
	{{/bs-dropdown}}
{{else}}
	<span class="count">0</span>
{{/if}}
--}}