<div
	{{action "onInspectElement" partElement allowedKeys="ctrl"}}
	{{action "onElementMouseEnter" partElement on="mouseEnter"}}
	{{action "onMouseLeave" on="mouseLeave"}}>
	<div class="element-index">
		<span class="value">
			{{~partElement.elementIndex~}}
		</span>.
	</div>
	<span class="tag">&lt;<span class="tag-name">{{partElement.tagName}}</span>
		{{#if partElement.id ~}}
			{{~tag-attribute attributeName="id" attributeValue=partElement.id~}}
		{{~/if~}}
		{{#if partElement.name ~}}
			{{~tag-attribute attributeName="name" attributeValue=partElement.name~}}
		{{~/if~}}
		{{#if partElement.className ~}}
			{{~tag-attribute attributeName="class" attributeValue=partElement.className splitBy=" "~}}
		{{~/if~}}
		&gt;
	</span>

	{{#if partElement.innerText ~}}
		<span class="text value">
			"{{partElement.innerText}}"
		</span>
	{{/if}}
</div>
