{{#right-click menuActions=menuActions model=part tagName="span"}}
	<span class="value" onclick={{action "onInspectSelector"}} {{action "onSelectorMouseEnter" on="mouseEnter"}} {{action "onSelectorMouseLeave" on="mouseLeave"}}
		title={{tooltipText}}>
		{{~#if isXpath~}}
			{{part.xpath}}
		{{~else~}}
			{{part.css}}
		{{~/if~}}
	</span>
	<i class="remove-icon" onclick={{action "onRemove"}} title="Remove this selector part"/>
{{/right-click}}
{{!-- 
{{#if isExist}}
	{{#bs-dropdown tagName="span" classNames="count" as |dd|}}
	{{#dd.toggle}}{{part.count}}<span class="caret"></span>{{/dd.toggle}}
	  {{#dd.menu classNames="selector-part-elements" as |menu|}}
	  	{{#each part.elements as |element|}}
			{{#menu.item}}
				<a {{action "onInspectElement" element allowedKeys="ctrl"}}
					{{action "onElementMouseEnter" element on="mouseEnter"}}
					{{action "onMouseLeave" on="mouseLeave"}}>{{element.htmlFormated}}</a>
			{{/menu.item}}
		{{/each}}
	  {{/dd.menu}}
	{{/bs-dropdown}}
{{else}}
	<span class="count">0</span>
{{/if}}
--}}