<input id="expandAllTreeNodes" type="button" {{action "onExpandAllTreeNodes"}} value="Expand All"/>
<input id="collapseAllTreeNodes" type="button" {{action "onCollapseAllTreeNodes"}} value="Collapse All"/>
{{!-- <input id="refreshTree" type="button" {{action "onRefreshTree"}} value="Refresh"/> --}}
<input id="revalidateTreeSelectors" type="button" {{action "onRevalidateTreeSelector"}} value="Revalidate Selectors"/>
<div id="pageTree">
    {{ember-jstree
    	actionReceiver=jstreeActionReceiver
        data=data
        plugins=plugins
        themes=themes
		eventDidSelectNode="onComponentNodeSelected"
		eventDidHoverNode="onComponentNodeHovered"
		eventDidDehoverNode="onComponentNodeDehovered"
        typesOptions=typesOptions
        stateOptions=stateOptions
        skipLoading=skipLoading
    }}
</div>
