<div class="container-fluid">
	{{!-- CONVERTER --}}
	<div id="selectorsConverter">
		<div class="status {{if vsclient.isConnected 'connected'}}"></div>
		{{input id="source" value=inputValue type="text" placeholder="Type selector here..."}}
		<ul id="target">
			<li>
				<label>Scss: </label>
				{{targetScss}}
			</li>
			<li>
				<label>Css: </label>
				{{css-validator value=targetCss}}
			</li>
			<li>
				<label>XPath: </label>
				{{xpath-validator value=targetXPath}}
			</li>
		</ul>
	</div>
	<div class="currenturl-wrap matched clearfix">
		<span id="currentUrl">{{currentUrl}}</span>
	</div>
	{{!-- NAVIGATION --}}
	{{outlet}}
</div>