<div id="root" class="container-fluid">
	{{!-- CONVERTER --}}
	<div id="selectorsConverter">
		{{!-- <div class="status {{if vsclient.isConnected 'connected'}}"></div> --}}
		<div class="source-wrap {{if inputValue "active"}}">
			<i class="trash-icon"
				onclick={{action "onRemoveSelector"}} 
				title="Remove selector"/>
			{{input id="source" value=inputValue type="text" placeholder="Type selector here..."}}
			<i class="copy-icon"
				onclick={{action "onCopySelector"}}
				title="Copy selector"/>
			<span class="selector-status {{if isExist "exist"}} {{if isSeveral "several"}}"/>
		</div>
		<ul id="target">
			{{!-- <li id="targetScss">
				<label id="targetScssLabel"
					{{action "copySelectorStart" 0 targetScss  on="mouseDown"}} 
					{{action "copySelectorEnd" 0 on="mouseUp"}} 
					{{action "copySelectorEnd" 0 on="mouseLeave"}}>Scss: </label>
				{{bs-tooltip triggerElement="#targetScssLabel" title="Copy SCSS selector" placement="bottom" delayShow=300}}
				{{targetScss}}
			</li>
			--}}
			<li id="targetCss" >
				<label id="targetCssLabel"
					{{action "copySelectorStart" 1 targetCss on="mouseDown"}}
					{{action "copySelectorEnd" 1 on="mouseUp"}}
					{{action "copySelectorEnd" 1 on="mouseLeave"}}>Css</label>
				{{bs-tooltip triggerElement="#targetCssLabel" title="Copy CSS selector" placement="bottom" delayShow=300}}
				{{selector-validator parts=parts status=cssStatus onPartSelected=(action "onPartSelected") onRemovePart=(action "onRemovePart") }}
			</li>
			
			<li id="targetXPath" >
				<label id="targetXPathLabel"
					{{action "copySelectorStart" 2 targetXPath on="mouseDown"}}
					{{action "copySelectorEnd" 2 on="mouseUp"}}
					{{action "copySelectorEnd" 2 on="mouseLeave"}}>XPath</label>
				{{bs-tooltip triggerElement="#targetXPathLabel" title="Copy XPath selector" placement="bottom" delayShow=300}}
				{{selector-validator isXpath=true parts=parts status=xpathStatus onPartSelected=(action "onPartSelected") onRemovePart=(action "onRemovePart") }}
			</li>
		</ul>
	</div>
	<ul id="elementsList">
		{{#each elements as |element|}}
			{{selector-part-element partElement=element onAttributeToggle=(action "onPartAttributeToggle") onSelected=(action "onPartElementSelected")}}
		{{/each}}
	</ul>

	{{!-- NAVIGATION --}}
	{{!-- {{outlet}} --}}
</div>