<div id="selectorsConverter">
	<div class="status {{if vsclient.isConnected 'connected'}}"></div>
	{{input id="source" type="text" placeholder="Type selector here..." key-up="onSourceSelectorChanged"}}
	<ul id="target">
		<li>
			<label>Scss: </label>
			{{targetScss}}
		</li>
		<li>
			<label>Css: </label>
			{{css-validator value=targetCss}}
		</li>
		<li>
			<label>XPath: </label>
			{{xpath-validator value=targetXPath}}
		</li>
	</ul>
</div>

<div id="pageTree">
    {{ember-jstree
        data=data
        plugins=plugins
        themes=themes

        typesOptions=typesOptions
    }}
</div>