<div class="currenturl-wrap matched clearfix" style="display:none;">
	<span id="currentUrl">{{currentUrl}}</span>
</div>
<div class="navigation-wrap clearfix" style="display:none;">
 	<div id="servicesNavigation" class="navigation-item pull-left">
		{{#if model}}
			{{model.id}}
		{{else}}
			Service not matched
		{{/if}}
<!--		{{#bs-dropdown tagName="span"}}
			{{#bs-dropdown-toggle class="btn btn-xs btn-danger"}}<span class="caret"></span>{{/bs-dropdown-toggle}}
	        {{#bs-dropdown-menu}}
			  	{{#each services as |service|}}
	    			<li>{{#link-to "service" service}}{{service.id}}{{/link-to}}</li>
	  			{{/each}}
	        {{/bs-dropdown-menu}}
		{{/bs-dropdown}} -->
	</div>	
 	<div class="vertical-divider pull-left">-</div>
	<div id="pageNavigation" class="navigation-item pull-left">
		{{#if page}}
			{{page.id}}
		{{else}}
			Page not matched
		{{/if}}
<!--		{{#bs-dropdown tagName="span"}}
			{{#bs-dropdown-toggle class="btn btn-xs btn-danger"}}<span class="caret"></span>{{/bs-dropdown-toggle}}
		    {{#bs-dropdown-menu}}
			  	{{#each sortedPages as |page|}}
					<li>{{#link-to "service.page" page}}{{page.id}}{{/link-to}}</li>
					{{/each}}
		    {{/bs-dropdown-menu}}
		{{/bs-dropdown}}-->
	</div>
</div>
{{!-- CONTENT --}}
<div class="content-wrap">
	{{outlet}}
</div>